In [1]:
import pandas as pd

pd.__version__

'2.3.2'

In [ ]:
# number of records in the dataset
cfe = pd.read_csv('car_fuel_efficiency.csv')
cfe_df = pd.DataFrame(cfe)

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                     170            3.0       159.0     3413.433759
1                     130            5.0        97.0     3149.664934
2                     170            NaN        78.0     3079.038997
3                     220            4.0         NaN     2542.392402
4                     210            1.0       140.0     3460.870990
...                   ...            ...         ...             ...
9699                  140            5.0       164.0     2981.107371
9700                  180            NaN       154.0     2439.525729
9701                  220            2.0       138.0     2583.471318
9702                  230            4.0       177.0     2905.527390
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year  origin fuel_type         drivetrain  \
0             17.7        2003  Europe  Gasoline    All-wheel drive
1             17.8        2007     USA  Gasoline  Front-wheel drive
2             15.1        2018  Europe  Gasoline  Front-wheel drive
3             20.2        2009     USA    Diesel    All-wheel drive
4             14.4        2009  Europe  Gasoline    All-wheel drive
...            ...         ...     ...       ...                ...
9699          17.3        2013  Europe    Diesel  Front-wheel drive
9700          15.0        2004     USA  Gasoline    All-wheel drive
9701          15.1        2008     USA    Diesel    All-wheel drive
9702          19.4        2011     USA    Diesel  Front-wheel drive
9703          14.7        2005    Asia    Diesel    All-wheel drive

      num_doors  fuel_efficiency_mpg
0           0.0            13.231729
1           0.0            13.688217
2           0.0            14.246341
3           2.0            16.912736
4           2.0            12.488369
...         ...                  ...
9699        NaN            15.101802
9700        0.0            17.962326
9701       -1.0            17.186587
9702        1.0            15.331551
9703       -1.0            14.884467

[9704 rows x 11 columns]

In [11]:
print(cfe_df.columns.__len__())
print(cfe_df.__len__())

11
9704

In [55]:
cfe_df.dtypes

engine_displacement      int64
num_cylinders          float64
horsepower             float64
vehicle_weight         float64
acceleration           float64
model_year               int64
origin                  object
fuel_type               object
drivetrain              object
num_doors              float64
fuel_efficiency_mpg    float64
dtype: object

In [15]:
len(cfe_df["fuel_type"].unique())

2

In [28]:
count = 0
for k,v in cfe_df.isnull().sum().items():
    if v!=0:
        count+=1

print(count)

4

In [18]:
cfe_df.head(n=2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217

In [34]:
carsAsia = cfe_df[cfe_df['origin'] == 'Asia']
carsAsia["fuel_efficiency_mpg"].max()

23.759122836520497

In [36]:
cfe_df["horsepower"].median()

149.0

In [38]:
cfe_df["horsepower"].mode()[0]

np.float64(152.0)

In [39]:
cfe_df["horsepower"].fillna(152,inplace=True)

/var/folders/t8/7p3g8r6j64s65wgqpyrxtl2m0000gn/T/ipykernel_5104/4042621243.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cfe_df["horsepower"].fillna(152,inplace=True)

In [40]:
cfe_df["horsepower"].mode()[0]

np.float64(152.0)

In [41]:
cfe_df["horsepower"].median()

152.0

In [43]:
import numpy as np
# Select cars from Asia and get vehicle_weight and model_year columns
asia_subset = carsAsia[['vehicle_weight', 'model_year']].head(7)

# Get the underlying NumPy array
X = asia_subset.values

# Compute XTX (X transpose times X)
XTX = X.T @ X

# Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w = (XTX)^(-1) * X.T * y
w = XTX_inv @ X.T @ y

# Sum of all elements in w
print(w.sum())

0.5187709081074025

In [70]:
colsAsia = carsAsia[["vehicle_weight","model_year"]].head(7)

X = colsAsia.values

XTX = X.T @ X
XTXi = np.linalg.inv(XTX)


y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = XTXi @ X.T @ y

print(w)

w.sum()

[0.01386421 0.5049067 ]

np.float64(0.5187709081074025)